body{
    display: grid;
    grid: [stack] 1fr/ [stack] 1fr;
    /*background-color: rgb(65, 65, 65);*/
    background-color: #666699;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
nav,main{
    grid-area: stack;
}
nav{
    background-color: whitesmoke;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 500ms,
        visibility 0ms linear 500ms;
}
li{
    margin: 6px;
}
nav:target{
    visibility: visible;
    transform: translateX(0);
    transition:  transform 500ms;
}
.titolo{
    display: grid;
    grid-template-columns: auto 30px;
    align-items: baseline;
}
main .titolo{
    padding: 10px;
    margin-bottom: -7px;
    background-image: linear-gradient(
        to bottom right,
        #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
    box-shadow: inset 0 0 10px #222049;
}

@keyframes movingGradient {
    from { background-position: 0 0; }
    to   { background-position: 100% 100%; }
}

article{
    box-shadow: inset 0 0 10px #222049,  20px 10px #222049 ;
    margin: 10px 40px 20px 10px;
    background-color: rgb(102, 102, 255);
    padding: 20px;
}

footer{
    color: grey;
    background-image: linear-gradient(
        to bottom right,
        #000000 0%, #4e7067 40%, #6e4c4c 60%, #ffffff 100% 
    );
    background-size: 200% 200%;
    animation: movingGradients 5s linear infinite alternate;
    padding: 10px;
    margin-top: -7px;
}
hr{
    border: 1px solid black;
}